@charset "UTF-8";
.l-footer {
  width: 100%;
  height: 150px;
  background: url(/img/footer.png);
  color: #FFFFFF;
}
.l-footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}
.l-footer li {
  margin-top: 16px;
  margin-bottom: 70px;
  font-size: clamp(1.125rem, 1.095rem + 0.13vw, 1.25rem);
}
@media screen and (min-width: 376px) {
  .l-footer li {
    margin-top: 30px;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 835px) {
  .l-footer li {
    margin-top: 41px;
    margin-bottom: 31px;
  }
}
.l-footer a {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  padding: 0 10px;
}
.l-footer p {
  margin: 16px;
  text-align: center;
  font-size: 0.875rem;
}
@media screen and (min-width: 376px) {
  .l-footer p {
    margin: 24px;
  }
}
@media screen and (min-width: 835px) {
  .l-footer p {
    margin: 27px;
  }
}
.l-footer .bar::after {
  content: "|";
  color: #FFFFFF;
  padding: 0 0 0 20px;
}

.l-header {
  width: 100%;
  background-color: #FFF7EF;
}

.l-main {
  display: flex;
  width: 100%;
  position: relative;
}
.l-main__left {
  width: 100%;
}
@media screen and (min-width: 376px) {
  .l-main__left {
    width: 100%;
  }
}
@media screen and (min-width: 835px) {
  .l-main__left {
    width: 80%;
  }
}
.l-main__left.open {
  position: fixed;
  top: 0;
  left: 0;
}
.l-main__right {
  width: 20%;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
  overflow: auto;
  background-color: #F2EDE9;
}
@media screen and (min-width: 835px) {
  .l-main__right {
    transform: translateX(0);
    position: static;
  }
}
.l-main__right.open {
  width: 87%;
  height: 100%;
  z-index: 2000;
  transform: translateX(0);
}
@media screen and (min-width: 376px) {
  .l-main__right.open {
    width: 43%;
  }
}

.l-sidebar h2 {
  display: block;
  color: #707070;
  font-family: "Roboto", sans-serif;
  margin-left: 2.5vw;
  display: none;
}
@media screen and (min-width: 376px) {
  .l-sidebar h2 {
    display: none;
  }
}
@media screen and (min-width: 835px) {
  .l-sidebar h2 {
    display: block;
    font-size: 2.125rem;
    padding-top: 5.25rem;
    padding-bottom: 5.625rem;
  }
}
.l-sidebar a {
  text-decoration: none;
  color: #707070;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  overflow-x: hidden;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.wp-pagenavi {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.page {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  color: #000000;
  text-decoration: none;
  border: 1px solid;
  margin: 20px;
}

.current {
  width: 30px;
  height: 30px;
  text-align: center;
  background: #3C2A10;
  color: #FFFFFF;
  border: 1px solid;
  margin: 20px;
  text-decoration: none;
}

/* 前への「＜」、次への「＞」 */
.previouspostslin,
.nextpostslink {
  color: #000000;
  text-decoration: none;
}

.c-gl {
  padding-top: 178px;
}
@media screen and (min-width: 835px) {
  .c-gl {
    padding: 0;
  }
}
.c-gl .c-menu {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 2.875vw;
  margin-bottom: 3.75vw;
  list-style: none;
  color: #707070;
}
.c-gl .c-sub {
  font-size: 1.25rem;
  margin-left: 4.125vw;
  margin-right: 4.125vw;
  margin-bottom: 3vw;
  list-style: none;
}
.c-gl .c-sub li {
  padding-bottom: 1.25rem;
  color: #707070;
}

.c-header {
  height: 215px;
  text-align: center;
}
@media screen and (min-width: 376px) {
  .c-header {
    display: block;
  }
}
@media screen and (min-width: 835px) {
  .c-header {
    height: 200px;
    display: flex;
    align-items: center;
  }
}
.c-header h1 {
  padding: 43px;
  font-size: clamp(2.5rem, 2.136rem + 1.55vw, 4rem);
  font-family: "Roboto", sans-serif;
}
.c-header a {
  color: #707070;
  text-decoration: none;
}
.c-header form {
  display: block;
  margin: 0 0 0 auto;
  position: relative;
}
.c-header .search {
  width: 57.5vw;
  height: 46px;
  border: 1px solid #707070;
  border-radius: 10px;
  position: relative;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
}
@media screen and (min-width: 376px) {
  .c-header .search {
    width: 47vw;
  }
}
@media screen and (min-width: 835px) {
  .c-header .search {
    width: 25vw;
  }
}
.c-header .search + i {
  position: absolute;
  top: 50%;
  left: 11%;
  transform: translateY(-50%);
  content: "";
  color: #707070;
  opacity: 0.7;
}
@media screen and (min-width: 376px) {
  .c-header .search + i {
    left: 20%;
  }
}
@media screen and (min-width: 835px) {
  .c-header .search + i {
    left: 0.5rem;
  }
}
.c-header .search-btn {
  width: 24vw;
  height: 46px;
  border: 1px solid #707070;
  border-radius: 10px;
  background-color: #F2EDE9;
  cursor: pointer;
}
@media screen and (min-width: 376px) {
  .c-header .search-btn {
    width: 16.28vw;
  }
}
@media screen and (min-width: 835px) {
  .c-header .search-btn {
    width: 7.08vw;
    margin: 0 31px 0 14px;
  }
}

.c-menu-btn {
  position: relative;
  cursor: pointer;
}
@media screen and (min-width: 835px) {
  .c-menu-btn {
    display: none;
  }
}
.c-menu-btn p {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 20px;
  color: #707070;
}
@media screen and (min-width: 376px) {
  .c-menu-btn p {
    top: 20px;
    right: 25px;
    font-size: 34px;
  }
}
@media screen and (min-width: 835px) {
  .c-menu-btn p {
    display: none;
  }
}

.c-close-btn.open {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
  height: 50px;
}
.c-close-btn.open::before {
  position: absolute;
  top: 25px;
  transform: rotate(45deg);
  content: "";
  background-color: #707070;
  width: 45px;
  height: 6px;
}
.c-close-btn.open::after {
  position: absolute;
  top: 25px;
  transform: rotate(-45deg);
  content: "";
  background-color: #707070;
  width: 45px;
  height: 6px;
}

.c-close-mask.open {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #000000;
  opacity: 0.8;
}

.p-brunch {
  margin: 1.25rem;
}
@media screen and (min-width: 376px) {
  .p-brunch {
    display: flex;
    margin: 2.5vw;
  }
}
@media screen and (min-width: 835px) {
  .p-brunch {
    display: flex;
    margin: 3.75vw;
  }
}

.out {
  background-image: url(/wp-content/themes/Hamburger_WP/img/take-out.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 376px) {
  .out {
    max-width: 50%;
    margin-right: 2.25rem;
    margin-right: 2.5vw;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 835px) {
  .out {
    margin-right: 5rem;
    margin-right: 2.5vw;
    margin-bottom: 0;
  }
}
.out h2 {
  font-size: clamp(2.563rem, 1.971rem + 2.52vw, 5rem);
  position: absolute;
  top: 0.8125rem;
  left: 0.9375rem;
  color: #EAEAEA;
}
@media screen and (min-width: 376px) {
  .out h2 {
    position: absolute;
    top: 0.875rem;
    left: 0.6875rem;
  }
}
@media screen and (min-width: 835px) {
  .out h2 {
    position: absolute;
    top: 1.5rem;
  }
}
.out span {
  display: inline-block;
  position: absolute;
  top: 5rem;
  left: 0.9375vw;
  width: 33px;
  height: 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 376px) {
  .out span {
    top: 5.6875rem;
    left: 0.9375rem;
    width: 35px;
    height: 4px;
  }
}
@media screen and (min-width: 835px) {
  .out span {
    top: 10.0625rem;
    left: 1.15625rem;
    width: 63px;
    height: 4px;
  }
}
.out dl {
  display: inline-block;
  background-color: #FFFFFF;
  opacity: 0.8;
  color: #3C2A10;
  height: auto;
}
.out #top {
  margin: 1rem 1rem 0;
}
@media screen and (min-width: 835px) {
  .out #top {
    margin: 1.25rem 1.25rem 0;
  }
}
.out #btm {
  margin: 1rem;
}
@media screen and (min-width: 835px) {
  .out #btm {
    margin: 1.25rem;
  }
}
.out .box {
  padding-top: 18.625rem;
}
@media screen and (min-width: 376px) {
  .out .box {
    margin-top: 23.1875rem;
  }
}
@media screen and (min-width: 835px) {
  .out .box {
    margin-top: 37.5rem;
  }
}
.out dt {
  font-size: clamp(1.375rem, 1.345rem + 0.13vw, 1.5rem);
  font-weight: bold;
  padding: 1rem 1rem 0.5rem;
}
@media screen and (min-width: 376px) {
  .out dt {
    padding: 1rem;
  }
}
@media screen and (min-width: 835px) {
  .out dt {
    padding: 0.875rem 1.25rem 1.125rem;
  }
}
.out dd {
  padding: 0 1rem 1rem;
  line-height: 1.4;
}
@media screen and (min-width: 835px) {
  .out dd {
    padding: 0 1.25rem 0.875rem;
  }
}

.in {
  background-image: url(/img/eat-in.png);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
}
@media screen and (min-width: 376px) {
  .in {
    max-width: 50%;
  }
}
.in h2 {
  font-size: clamp(2.563rem, 1.971rem + 2.52vw, 5rem);
  position: absolute;
  top: 0.8125rem;
  left: 0.9375rem;
  color: #EAEAEA;
}
@media screen and (min-width: 376px) {
  .in h2 {
    position: absolute;
    top: 0.875rem;
    left: 0.6875rem;
  }
}
@media screen and (min-width: 835px) {
  .in h2 {
    position: absolute;
    top: 1.5rem;
  }
}
.in span {
  display: inline-block;
  position: absolute;
  top: 5rem;
  left: 0.9375vw;
  width: 33px;
  height: 4px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 376px) {
  .in span {
    top: 5.6875rem;
    left: 0.9375rem;
    width: 35px;
    height: 4px;
  }
}
@media screen and (min-width: 835px) {
  .in span {
    top: 10.0625rem;
    left: 1.15625rem;
    width: 63px;
    height: 4px;
  }
}
.in dl {
  display: inline-block;
  background-color: #FFFFFF;
  opacity: 0.8;
  color: #3C2A10;
}
.in #top {
  margin: 1rem 1rem 0;
}
@media screen and (min-width: 835px) {
  .in #top {
    margin: 1.25rem 1.25rem 0;
  }
}
.in #btm {
  margin: 1rem;
}
@media screen and (min-width: 835px) {
  .in #btm {
    margin: 1.25rem;
  }
}
.in .box {
  padding-top: 18.625rem;
}
@media screen and (min-width: 376px) {
  .in .box {
    margin-top: 23.1875rem;
  }
}
@media screen and (min-width: 835px) {
  .in .box {
    margin-top: 37.5rem;
  }
}
.in dt {
  font-size: clamp(1.375rem, 1.345rem + 0.13vw, 1.5rem);
  font-weight: bold;
  padding: 1rem 1rem 0.5rem;
}
@media screen and (min-width: 376px) {
  .in dt {
    padding: 1rem;
  }
}
@media screen and (min-width: 835px) {
  .in dt {
    padding: 0.875rem 1.25rem 1.125rem;
  }
}
.in dd {
  padding: 0 1rem 1rem;
  line-height: 1.4;
}
@media screen and (min-width: 835px) {
  .in dd {
    padding: 0 1.25rem 0.875rem;
  }
}

.p-front-mv {
  position: relative;
}
.p-front-mv img {
  width: 100%;
  height: 285px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 376px) {
  .p-front-mv img {
    height: 285px;
  }
}
@media screen and (min-width: 835px) {
  .p-front-mv img {
    height: 33.125vw;
  }
}
.p-front-mv p {
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-size: clamp(2.25rem, 2.189rem + 0.26vw, 2.5rem);
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 1.5625vw;
  transform: translateY(-50%);
}
@media screen and (min-width: 376px) {
  .p-front-mv p {
    left: 5.375vw;
  }
}

.p-access {
  margin-top: 3.125rem;
  width: 100%;
  color: #ffffff;
  display: grid;
}
.p-access::after {
  content: "";
  background-color: #707070;
  opacity: 0.59;
  width: 100%;
  height: 500px;
  grid-area: 1/1;
  z-index: 1;
}
@media screen and (min-width: 376px) {
  .p-access::after {
    height: 100%;
  }
}
@media screen and (min-width: 835px) {
  .p-access::after {
    height: 100%;
  }
}
.p-access iframe {
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}
.p-access__overlay {
  position: relative;
  background-color: rgba(0, 0, 0, 0.28);
  grid-area: 1/1;
  z-index: 3;
}
@media screen and (min-width: 376px) {
  .p-access__overlay {
    width: 100%;
  }
}
@media screen and (min-width: 835px) {
  .p-access__overlay {
    width: 62%;
  }
}
.p-access__overlay h2 {
  font-size: clamp(1.875rem, 1.784rem + 0.39vw, 2.25rem);
  margin: 2.625rem;
  color: #ffffff;
}
@media screen and (min-width: 835px) {
  .p-access__overlay h2 {
    margin-top: 5.3125vw;
    margin-left: 7.4375vw;
  }
}
.p-access__overlay span {
  position: absolute;
  top: 6.375rem;
  left: 2.625rem;
  width: 50px;
  height: 5px;
  background-color: #ffffff;
}
@media screen and (min-width: 376px) {
  .p-access__overlay span {
    width: 75px;
    height: 2px;
  }
}
@media screen and (min-width: 835px) {
  .p-access__overlay span {
    top: 11.8125vw;
    left: 7.4375vw;
    width: 75px;
    height: 2px;
  }
}
.p-access__overlay p {
  margin: 40px;
  margin: 2.5rem;
  font-size: clamp(0.875rem, 0.845rem + 0.13vw, 1rem);
  line-height: 2;
  height: auto;
}
@media screen and (min-width: 376px) {
  .p-access__overlay p {
    margin: 42px;
    margin-top: 2.625rem;
    margin-left: 2.625rem;
  }
}
@media screen and (min-width: 835px) {
  .p-access__overlay p {
    margin: 7.4375vw;
  }
}

.p-archive-mv {
  position: relative;
}
.p-archive-mv img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 285px;
}
.p-archive-mv .mask {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.4;
  width: 100%;
  height: 100%;
}
.p-archive-mv h1 {
  display: block;
  position: absolute;
  top: 50%;
  left: 37px;
  transform: translateY(-50%);
  color: #FFFFFF;
  font-weight: bold;
  font-size: clamp(2.25rem, 1.886rem + 1.55vw, 3.75rem);
}
@media screen and (min-width: 376px) {
  .p-archive-mv h1 {
    display: flex;
    align-items: center;
    left: 86px;
  }
}
.p-archive-mv h1::after {
  content: "チーズバーガー";
  font-size: 16px;
  display: block;
  padding-top: 10px;
}
@media screen and (min-width: 376px) {
  .p-archive-mv h1::after {
    padding-left: 19px;
  }
}

.c-wrap {
  margin: 0 19px;
}
@media screen and (min-width: 376px) {
  .c-wrap {
    margin: 0px 43px;
    margin: 0 2.688rem;
  }
}
@media screen and (min-width: 835px) {
  .c-wrap {
    margin: 0 100px;
    margin: 0 6.25rem;
  }
}

.c-card {
  width: 100%;
  margin-bottom: 20.5px;
  background-color: #3C2A10;
}
@media screen and (min-width: 376px) {
  .c-card {
    display: flex;
  }
}
@media screen and (min-width: 376px) {
  .c-card .card-img {
    width: 100%;
  }
}
.c-card .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-card figcaption {
  color: #FFFFFF;
}
@media screen and (min-width: 376px) {
  .c-card figcaption {
    width: 100%;
  }
}
.c-card figcaption h2 {
  font-size: clamp(1.25rem, 1.007rem + 1.04vw, 2.25rem);
  margin: 32px 17px 0;
}
@media screen and (min-width: 376px) {
  .c-card figcaption h2 {
    margin-top: 3.1875vw;
    margin-left: 2.125vw;
  }
}
@media screen and (min-width: 835px) {
  .c-card figcaption h2 {
    margin: 56px 63px 0;
    margin: 2.91vw 3.2vw 0;
  }
}
.c-card figcaption h3 {
  font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
  margin: 21px 17px 0;
  margin: 1.063rem 1.313rem 0;
}
@media screen and (min-width: 376px) {
  .c-card figcaption h3 {
    margin: 21px 34px 0;
    margin-top: 1.3125vw;
    margin-left: 2.125vw;
  }
}
@media screen and (min-width: 835px) {
  .c-card figcaption h3 {
    margin: 44px 63px 0;
    margin-top: 2.75vw;
    margin-left: 3.9375vw;
  }
}
.c-card figcaption p {
  margin: 7px 16px 40px;
  line-height: 1.5;
  overflow: hidden;
}
@media screen and (min-width: 376px) {
  .c-card figcaption p {
    margin: 7px 36px 45px;
    margin-top: 0.4375vw;
    margin-left: 2.25vw;
  }
}
@media screen and (min-width: 835px) {
  .c-card figcaption p {
    margin: 13px 63px 60px;
    margin-top: 0.8125vw;
    margin-left: 3.9375vw;
  }
}
.c-card figcaption .btn {
  padding-bottom: 50px;
}
.c-card figcaption button {
  display: block;
  width: 160px;
  height: 42px;
  border-radius: 50px;
  margin: 0 auto;
  font-weight: bold;
}
@media screen and (min-width: 376px) {
  .c-card figcaption button {
    width: 50%;
    height: 42px;
    margin: 0 auto;
    margin-bottom: 3.125vw;
  }
}
@media screen and (min-width: 835px) {
  .c-card figcaption button {
    width: 50%;
    height: 79px;
  }
}

.c-caption {
  margin: 20px 20px 0;
}
@media screen and (min-width: 376px) {
  .c-caption {
    margin: 42px 42px 0;
  }
}
@media screen and (min-width: 835px) {
  .c-caption {
    margin: 100px 100px 0;
  }
}
.c-caption h2 {
  font-size: clamp(1.75rem, 1.629rem + 0.52vw, 2.25rem);
  margin-bottom: 25px;
}
@media screen and (min-width: 376px) {
  .c-caption h2 {
    margin-bottom: 20px;
  }
}
.c-caption h3 {
  line-height: 1.5;
  margin-bottom: 20px;
}
@media screen and (min-width: 376px) {
  .c-caption h3 {
    margin-bottom: 37px;
  }
}
@media screen and (min-width: 835px) {
  .c-caption h3 {
    margin-bottom: 70px;
  }
}

.c-caption2 {
  margin: 0 20px;
}
@media screen and (min-width: 376px) {
  .c-caption2 {
    margin: 0 60px;
  }
}
@media screen and (min-width: 835px) {
  .c-caption2 {
    margin: 0 100px;
  }
}
.c-caption2 h2 {
  font-size: clamp(1.75rem, 1.629rem + 0.52vw, 2.25rem);
  margin: 25px 0;
}
@media screen and (min-width: 376px) {
  .c-caption2 h2 {
    margin: 55px 0;
  }
}
.c-caption2 p {
  margin-bottom: 36px;
}
@media screen and (min-width: 376px) {
  .c-caption2 p {
    margin-bottom: 62px;
  }
}
.c-caption2 h3 {
  font-size: clamp(1.5rem, 1.439rem + 0.26vw, 1.75rem);
  margin-bottom: 28px;
}
@media screen and (min-width: 376px) {
  .c-caption2 h3 {
    margin-bottom: 56px;
  }
}
.c-caption2 h4 {
  font-size: 1.25rem;
  margin-bottom: 34px;
}
@media screen and (min-width: 376px) {
  .c-caption2 h4 {
    margin-bottom: 72px;
  }
}
@media screen and (min-width: 835px) {
  .c-caption2 h4 {
    margin-bottom: 57px;
  }
}

.c-code {
  background-color: #F5F5F5;
  padding: 50px;
  margin: 0 20px 30px;
}
@media screen and (min-width: 376px) {
  .c-code {
    margin: 0 60px 60px;
  }
}
@media screen and (min-width: 835px) {
  .c-code {
    margin: 0 100px 50px;
  }
}
.c-code p {
  line-height: 1.5;
}

.c-column {
  margin: 0 20px 30px;
  padding: 30px 20px;
  line-height: 1.5;
  background-color: #F5F5F5;
}
@media screen and (min-width: 376px) {
  .c-column {
    margin: 0 60px 60px;
    padding: 50px;
  }
}
@media screen and (min-width: 835px) {
  .c-column {
    margin: 0 100px 60px;
  }
}
.c-column .text {
  margin-bottom: 31px;
}
@media screen and (min-width: 376px) {
  .c-column .text {
    margin-bottom: 61px;
  }
}
.list {
  display: block;
  margin-bottom: 26px;
}
@media screen and (min-width: 376px) {
  .list {
    margin-bottom: 57px;
  }
}
.list ol {
  margin: 38px;
}
@media screen and (min-width: 376px) {
  .list ol {
    margin: 17px 131px;
  }
}
@media screen and (min-width: 835px) {
  .list ol {
    margin-left: 171px;
  }
}
.list .list1 {
  margin-left: 59px;
}
@media screen and (min-width: 376px) {
  .list .list1 {
    margin-left: 149px;
  }
}
@media screen and (min-width: 835px) {
  .list .list1 {
    margin-left: 191px;
  }
}
.list ul {
  list-style: none;
  margin: 17px;
}
@media screen and (min-width: 376px) {
  .list ul {
    margin: 17px 110px;
  }
}
@media screen and (min-width: 835px) {
  .list ul {
    margin-left: 150px;
  }
}
.list .list2 {
  margin: 38px;
}
@media screen and (min-width: 376px) {
  .list .list2 {
    margin: 17px 128px;
  }
}
@media screen and (min-width: 835px) {
  .list .list2 {
    margin-left: 168px;
  }
}

.c-mv {
  position: relative;
}
.c-mv img {
  width: 100%;
  height: 206px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 376px) {
  .c-mv img {
    height: 460px;
  }
}
.c-mv h1 {
  position: absolute;
  top: 50%;
  left: 26px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: clamp(2.25rem, 1.886rem + 1.55vw, 3.75rem);
}
@media screen and (min-width: 376px) {
  .c-mv h1 {
    left: 86px;
  }
}

.c-photocap {
  margin: 0 20px;
}
@media screen and (min-width: 376px) {
  .c-photocap {
    margin: 0 60px;
  }
}
@media screen and (min-width: 835px) {
  .c-photocap {
    margin: 0 100px;
  }
}
.c-photocap__top {
  margin-bottom: 30px;
}
.c-photocap__top img {
  width: 100%;
}
@media screen and (min-width: 376px) {
  .c-photocap__top {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 376px) {
  .c-photocap__flex {
    margin-bottom: 60px;
  }
}
.c-photocap__flex--left {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (min-width: 376px) {
  .c-photocap__flex--left {
    margin-bottom: 117px;
  }
}
@media screen and (min-width: 835px) {
  .c-photocap__flex--left {
    margin-bottom: 60px;
  }
}
.c-photocap__flex--left img {
  width: 40%;
  height: 89px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 376px) {
  .c-photocap__flex--left img {
    width: 50%;
    height: 189px;
  }
}
.c-photocap__flex--left p {
  line-height: 1.5;
  margin-left: 10px;
}
@media screen and (min-width: 376px) {
  .c-photocap__flex--left p {
    margin-left: 21px;
  }
}
@media screen and (min-width: 835px) {
  .c-photocap__flex--left p {
    margin-left: 40px;
  }
}
.c-photocap__flex--right {
  display: flex;
  margin-bottom: 30px;
}
.c-photocap__flex--right img {
  width: 40%;
  height: 89px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
}
@media screen and (min-width: 376px) {
  .c-photocap__flex--right img {
    width: 50%;
    height: 189px;
    margin-left: 21px;
  }
}
@media screen and (min-width: 835px) {
  .c-photocap__flex--right img {
    margin-left: 40px;
  }
}
.c-photocap__flex--right p {
  line-height: 1.5;
}
.c-photocap__center {
  display: block;
  margin-bottom: 30px;
}
.c-photocap__center img {
  display: block;
  width: 71%;
  margin: 0 auto;
}
@media screen and (min-width: 376px) {
  .c-photocap__center {
    margin-bottom: 240px;
  }
}
@media screen and (min-width: 835px) {
  .c-photocap__center {
    margin-bottom: 60px;
  }
}
.c-photocap__all {
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.c-photocap__all img {
  width: 100%;
}
@media screen and (min-width: 376px) {
  .c-photocap__all {
    grid-template-columns: repeat(2, minmax(70px, 1fr));
  }
}
@media screen and (min-width: 835px) {
  .c-photocap__all {
    grid-template-columns: repeat(3, minmax(170px, 1fr));
  }
}

.c-table {
  margin: 0 20px 60px;
}
@media screen and (min-width: 376px) {
  .c-table {
    margin: 0 60px;
  }
}
@media screen and (min-width: 835px) {
  .c-table {
    margin: 0 100px;
  }
}
.c-table table {
  width: 100%;
}
.c-table td {
  border: 1px solid;
}
@media screen and (min-width: 376px) {
  .c-table td {
    padding: 29px 30px;
  }
}
@media screen and (min-width: 835px) {
  .c-table td {
    padding: 29px 30px;
  }
}
.c-table .left {
  padding: 29px 23px;
  width: 40%;
}
.c-table .right {
  padding: 29px;
  width: 60%;
}

.c-t-btn {
  width: 89%;
  height: 81px;
  background-color: #F2EDE9;
  border: 1px solid #707070;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  cursor: pointer;
}
@media screen and (min-width: 376px) {
  .c-t-btn {
    width: 27%;
    margin: 60px;
  }
}
@media screen and (min-width: 835px) {
  .c-t-btn {
    margin: 100px;
  }
}

.bold {
  margin: 20px 20px 69px 20px;
  font-size: 1rem;
}
@media screen and (min-width: 376px) {
  .bold {
    margin: 60px 60px 149px;
  }
}
@media screen and (min-width: 835px) {
  .bold {
    margin: 100px 100px 274px;
  }
}
/*# sourceMappingURL=style.css.map */