@use "../../foundation/mixin" as m;
.c-close-btn{
    &.open{
        cursor: pointer;
            position: absolute;
            top: 10px;
            right: 0;
            width: 50px;
            height: 50px;
            &::before{
                position: absolute;
                top: 25px;
                transform: rotate(45deg);
                content: "";
                background-color: #707070;
                width: 45px;
                height: 6px;
            }
                &::after{
                    position: absolute;
                    top: 25px;
                    transform: rotate(-45deg);
                    content: "";
                    background-color: #707070;
                    width: 45px;
                    height: 6px;
                }
    }
    }

    .c-close-mask.open{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        background-color: #000000;
        opacity: .8;
        @include m.mq(tab) {
    
            }
            @include m.mq(pc) {
            // display: none;
            }
    }
