@use "../../foundation/mixin" as m;
.c-menu-btn{
    position: relative;
    cursor: pointer;
        @include m.mq(pc) {
            display: none;
        }

    p{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    color: #707070;
    @include m.mq(tab) {
        top: 20px;
        right: 25px;
        font-size: 34px;
        }
        @include m.mq(pc) {
            display: none;
        }
    }
}