@use "../../foundation/mixin" as m;
.c-gl{ 
    padding-top: 178px;
    @include m.mq(pc) {
        padding: 0;
    }

    // .c-menu{
    //     font-size: 1.5rem;
    //     font-weight: bold;
    //     margin-left: calc(46/16)*1vw;
    //     margin-bottom: calc(60/16)*1vw;
    //     list-style: none;
    //     color: #707070;
    // }
    // .c-sub{
    //     font-size: 1.25rem;
    //     margin-left:calc(66/16)*1vw;
    //     margin-right: calc(66/16)*1vw;
    //     margin-bottom: calc(48/16)*1vw;
    //     list-style: none;
    //     li{
    //     padding-bottom: calc(20/16)*1rem;
    //     color: #707070;
    //     }
        
    // }
}


.c-menu{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: calc(46/16)*1vw;
    margin-bottom: calc(60/16)*1vw;
    list-style: none;
    color: #707070;
}



.sub-menu {
    font-size: 1.25rem;
        margin-top: calc(60/16)*1vw;
        // margin-left:calc(66/16)*1vw;
        margin-left:calc(20/16)*1vw;
        margin-bottom: calc(48/16)*1vw;
        list-style: none;
}
.sub-menu li{
    font-weight: 400;
    display: block;
    padding-bottom: calc(20/16)*1rem;
    padding-bottom: 20px;
    color: #707070;
    }
    