@use "../../foundation/mixin" as m;

  // .pagination__item{
  //   display: block;
  //   text-align: center;
  //   text-decoration: none;
  //   border: 1px solid;
  //   @include m.mq(tab) {
  //     margin: .5vw;
  //     padding: 1vw;
      
  //   }
  //   @include m.mq(pc) {
  //     margin: .5vw;
  //     padding: 1vw;
  //   }
  
  // }
  // .pagination__btn{
  //   display: block;
  //   text-align: center;
  //   text-decoration: none;
  //   @include m.mq(tab) {
  //     margin: .5vw;
  //     padding: 1vw;
  //   }
  //   @include m.mq(pc) {
  //     margin: .5vw;
  //     padding: 1vw;
  //   }
  // }

  // .pagination {
  //   display: flex;
  //   justify-content: center;
  //   margin: 20px;
  //   @include m.mq(tab) {
  //     margin:  40px 0;
  //   }
  //   @include m.mq(pc) {
  //   margin:  100px 0;
  //   }
  //   a{
  //     text-decoration: none;
  //     color: #000;
  //   }
  //   &__list {
  //     display: none;
  //   }
  //   &__item {
  //     &--current {
  //       background: #3C2A10;
  //       @extend .pagination__item;
  //       a{
  //         color: #fff;
  //       }
  //     }
  //   }
  //   &__pos {
  //     display: none;
  //     @extend .pagination__btn;
  //   }
  //   &__btn {
      
  //     &--prev {
  //       margin: 0 0 0 10px;
  //       @extend .pagination__btn;
  //     }
  //     &--next {
  //       display: block;
  //       margin: 0 0 0 auto;
  //       @extend .pagination__btn;
  //     }
  //     &--first {
  //       display: block;
  //       @extend .pagination__btn;
  //     }
  //     &--last {
  //       display: block;
  //       margin: 0 0 0 10px;
  //       @extend .pagination__btn;
  //     }
  //   }
  //   @include m.mq(tab) {
  //     &__list {
  //       display: flex;
  //     }
  //     &__pos {
  //       display: block;
  //     }
  //     &__btn {
  //       &--prev {
  //         display: none;
  //       }
  //       &--next {
  //         display: none;
  //       }
  //     }
  //   }
  //   @include m.mq(pc) {
  //     &__btn {
  //       &--first {
  //         display: block;
  //       }
  //       &--last {
  //         display: none;
  //       }
  //     }
  //   }
  // }











// .pagination {
//   margin: 30px;
// }
// wordpressで自動生成されたhtmlへのCSS
// // 横並びにする
.wp-pagenavi{
  display: flex;
  justify-content: center;
  align-items: center;
}

// ページタブの共通スタイル
.page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #fff;
  color: #000000;
  text-decoration: none;
  border:  1px solid;
  margin: 20px;
}


// 現在のページのタブ 
.current {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  background: #3C2A10;
  color: #FFFFFF;
  border:  1px solid;
  margin: 20px;
  text-decoration: none;
}


/* 前への「＜」、次への「＞」 */
.previouspostslink {
  color: #000000;
  text-decoration: none;
}
.nextpostslink {
  color: #000000;
  text-decoration: none;
}
