@use "../../foundation/mixin" as m;

.list{
    display: block;
    margin-bottom: 26px;
    @include m.mq(tab) {
    margin: 0 60px 57px;
    }
    ol{
        margin: 38px;
    }
    .list1{
        margin-left: 17px ;
    }

    ul{
        list-style: none;
        margin: 17px;
    }
    .list2{
        margin: 38px;

    }
}