@use "../../foundation/mixin" as m;

.c-photocap{
    margin: 0 20px;
    @include m.mq(tab) {
    margin: 0 60px;
    }
    @include m.mq(pc) {
    margin: 0 100px;
    }
    &__top{
        margin-bottom: 30px;
        img{
        width: 100%;
        }
        @include m.mq(tab) {
            margin-bottom: 60px;
        }
    }
}
//エディタ
.wp-block-image{
    margin-bottom: 30px;
    img{
        width: 100%;
        }
        @include m.mq(tab) {
            margin-bottom: 60px;
        }
}

.left{
            margin-bottom: 30px;
            
            @include m.mq(tab) {
                margin-bottom: 117px;
            }
            @include m.mq(pc) {
                margin-bottom: 60px;
            
            }
                p{
                line-height: 1.5;
                // margin-left: 10px;
                @include m.mq(tab) {
                    // margin-left: 21px;
                    }
                    @include m.mq(pc) {
                    // margin-left: 40px;
                    }
                }

}
.right{
    margin-bottom: 30px;
    @include m.mq(tab) {
        margin-bottom: 117px;
    }
    @include m.mq(pc) {
        margin-bottom: 60px;
    }
            img{
                object-fit: cover;
                // margin-left: 10px;
                @include m.mq(tab) {
                // margin-left: 21px;
                }
                    @include m.mq(pc) {
                    // margin-left: 40px;
                    }
                }
                p{
                    line-height: 1.5;
                }

}

.all{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    @include m.mq(tab) {
        grid-template-columns: repeat(2,minmax(70px,1fr));
        }
        @include m.mq(pc) {
            grid-template-columns: repeat(3,minmax(170px,1fr));
        }

}