@use "../../foundation/mixin" as m;

.c-table{
    margin: 0 20px 60px;
    @include m.mq(tab) {
    margin: 0 60px;
    }
    @include m.mq(pc) {
    margin: 0 100px;
    }
    table{
        width: 100%;
    }
    td{
        border: 1px solid;
        @include m.mq(tab) {
            padding: 29px 30px;
        }
        @include m.mq(pc) {
            padding: 29px 30px;
        }
    }
    .left{
        padding:29px 23px;
        width: 40%;

    }
    .right{
        padding: 29px;
        width: 60%;
    }
}


.bold{
    margin: 20px 20px 69px 20px;
    font-size: 1rem;
    @include m.mq(tab) {
    margin: 60px 60px 120px;
    }
    @include m.mq(pc) {
    margin: 100px 100px 120px;
    }
}


.c-t-btn {
        margin: 0 20px 0 20px;
        cursor: pointer;
        @include m.mq(tab) {
        margin:  60px;
        }
        @include m.mq(pc) {
            margin:  100px;
        }
    }

    .wp-block-button__link {
    display: flex;
    width: 89%;
    height: 81px;
    justify-content: center;
    align-items: center;
    }
    .wp-block-button{
        background-color: #F2EDE9;
        border: 1px solid #707070;
        border-radius: 10px;

    }

    .tax-wrap{
        margin: 20px 20px 0;
        @include m.mq(tab) {
        margin: 42px 42px 0;
        }
        @include m.mq(pc) {
        margin: 100px 100px 0;
        
        }
        h1{
            font-size: 36px;
            color: #000;
            margin-bottom: 300px;
        }
        .tax-text{
            color: #000;
            line-height: 2;
            margin-bottom: 500px;
        }

    }
    