@use "../../foundation/mixin" as m;

.c-table{
    margin: 0 20px 60px;
    @include m.mq(tab) {
    margin: 0 60px;
    }
    @include m.mq(pc) {
    margin: 0 100px;
    }
    table{
        width: 100%;
    }
    td{
        border: 1px solid;
        @include m.mq(tab) {
            padding: 29px 30px;
        }
        @include m.mq(pc) {
            padding: 29px 30px;
        }
    }
    .left{
        padding:29px 23px;
        width: 40%;

    }
    .right{
        padding: 29px;
        width: 60%;
    }
}

.c-t-btn {
    width: 89%;
    height: 81px;
    background-color: #F2EDE9;
    border: 1px solid #707070;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    cursor: pointer;
    @include m.mq(tab) {
    width: 27%;
    margin:  60px;
    }
    @include m.mq(pc) {
        margin:  100px;
    }
    a{
        text-decoration: none;
        color: #000;
    }
}

.bold{
    margin: 20px 20px 69px 20px;
    font-size: 1rem;
    @include m.mq(tab) {
    margin: 60px 60px 149px;
    }
    @include m.mq(pc) {
    margin: 100px 100px 274px;
    }
}
