@use "../../foundation/mixin" as m;
.p-archive-mv{
    position: relative;
    img{
    object-fit: cover;
    width: 100%;
    height: 285px;
    }
    .mask{
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000000;
        opacity: .4;
        width: 100%;
        height: 100%;
    }
    h1{
        display: block;
        position: absolute;
        top: 50%;
        left: 37px;
        transform: translateY(-50%);
        color: #FFFFFF;
        font-weight: bold;
        font-size: clamp(2.25rem, 1.886rem + 1.55vw, 3.75rem);
        @include m.mq(tab) {
            display: flex;
            align-items: center;
            left: 86px;
        }
    }
    span{
        font-size: 16px;
        display: block;
        padding-top: 10px;
        @include m.mq(tab) {
        padding-left: 19px;
        }
    }
}