@use "../../foundation/mixin" as m;

.new{
    position: absolute;
    top: 0;
    right: 0;
    background-color: orange;
    font-size: 24px;
    font-weight: 700;
    padding: 10px;
}

.c-news-card{
    width: 100%;
    margin-bottom: 20.5px;

    @include m.mq(tab) {
        display: flex;
        }
    .card-img{
        @include m.mq(tab) {  
        width: 100%;
        }
        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }

    .c-news-cap{
        padding-left: 40px;
        margin-bottom: 32px;
        h2{
            font-size: clamp(1.25rem, 1.007rem + 1.04vw, 2.25rem);
            padding-bottom: 8px;
            @include m.mq(tab) {
                
            }
            @include m.mq(pc) {
        
            }
        .cate{
            font-size: 12px;
            padding-bottom: 8px;
            
            @include m.mq(tab) {
            
            }
            @include m.mq(pc) {
        
            }

        }
        .tag{
            
            padding-bottom:16px ;
            @include m.mq(tab) {
            
            }
            @include m.mq(pc) {
        
            }

        }
        .ex{
            padding-bottom: 28px;
            @include m.mq(tab) {
            
            }
            @include m.mq(pc) {
        
            }

        }
        }

        .btn_news{
            a{
                display: block;
                text-align: right;
                font-weight: bold;
                text-decoration: underline;
                color: #000;
                @include m.mq(tab) {

                }
                @include m.mq(pc) {
                    
                }
            }
        }

    }

}

.c-wrap{
    margin: 0 19px;
    @include m.mq(tab) {
    margin: 0px 43px;
    margin: 0 2.688rem;
    }
    @include m.mq(pc) {
        margin: 0 100px;
        margin: 0 6.25rem;
    }
}

.c-card{
    width: 100%;
    margin-bottom: 20.5px;
    background-color: #3C2A10;
    @include m.mq(tab) {
        display: flex;
        }
    .card-img{
        @include m.mq(tab) {  
        width: 100%;
        }
        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }

    figcaption{
        color: #FFFFFF;
        position: relative;
        @include m.mq(tab) {
        width: 100%;
        }
        h2{
            font-size: clamp(1.25rem, 1.007rem + 1.04vw, 2.25rem);
            margin: 32px 17px 0;
            @include m.mq(tab) {
                margin-top: calc(51/16)*1vw;
                margin-left: calc(34/16)*1vw;
                
            }
            @include m.mq(pc) {
                margin: 56px 63px 0;
                margin: 2.91vw 3.2vw 0;
            }
        }
        h3{
            font-size: clamp(1rem, 0.879rem + 0.52vw, 1.5rem);
            margin: 21px 17px 0;
            margin: 1.063rem 1.313rem 0;
            @include m.mq(tab) {
            margin: 21px 34px 0;
            margin-top: calc(21/16)*1vw;
            margin-left: calc(34/16)*1vw;
            }
            @include m.mq(pc) {
            margin: 44px 63px 0;
            margin-top: calc(44/16)*1vw;
            margin-left: calc(63/16)*1vw;
            }
        }
        p{
            margin: 7px 16px 40px;
            line-height: 1.5;
            overflow: hidden;
            @include m.mq(tab) {
            margin: 7px 36px 45px;
            margin-top: calc(7/16)*1vw;
            margin-left: calc(36/16)*1vw;
            }
            @include m.mq(pc) {
            margin: 13px 63px 60px;
            margin-top: calc(13/16)*1vw;
            margin-left: calc(63/16)*1vw;

            }
        }
        .btn{
            padding-bottom: 50px;
            a{
                display: flex;
                width: 160px;
                height: 42px;
                border-radius: 50px;
                margin: 0 auto;
                font-weight: bold;
                text-decoration: none;
                color: #000;
                align-items: center;
                justify-content: center;
                background-color: #F2EDE9;
                @include m.mq(tab) {
                    width: 50%;
                    height: 42px;
                    margin: 0 auto;
                    margin-bottom: calc(50/16)*1vw;
                }
                @include m.mq(pc) {
                    width: 50%;
                    height: 79px;
                }
            }
        }

    }

}

.post{
    margin: 50px 19px 800px;
    @include m.mq(tab) {
    margin: 100px 43px 1000px;
    // margin: 0 2.688rem;
    }
    @include m.mq(pc) {
        margin: 100px 100px 1000px;
        // margin: 0 6.25rem;
    }
    h2{
        font-size: clamp(1.25rem, 1.007rem + 1.04vw, 2.25rem);
        margin-bottom: 25px;
        @include m.mq(tab) {
        margin-bottom: 20px;
        }
    }
    h3{
        line-height: 1.5;
        margin-bottom: 20px;
        @include m.mq(tab) {
        margin-bottom: 37px;
        }
        @include m.mq(pc) {
        margin-bottom: 70px;
        }
    }
    .fond-btn{
        width: 89%;
        height: 81px;
        background-color: #F2EDE9;
        border: 1px solid #707070;
        border-radius: 10px;
        margin: 20px 0 1000px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        @include m.mq(tab) {
                width: 27%;
                margin:  60px 0 1000px;
                }
                @include m.mq(pc) {
                    margin:  100px 0 1000px;
                }
                a{
                    text-decoration: none;
                    color: #000;
                }
        }
}