@use "..//foundation/mixin" as m;
.l-main{
    display: flex;
    width: 100%;
    position: relative;
    &__left{
        width: 100%;
        @include m.mq(tab) {
            width: 100%;
            }
            @include m.mq(pc) {
                width: 80%;
    }
}
    &__left.open{
        position: fixed;
        top: 0;
        left: 0;
    }

    &__right{
        width: 20%;
        transform: translateX(100%);
        position: fixed;
        top: 0;
        right: 0;
        transition: 0.5s;
        overflow: auto;
        background-color: #F2EDE9;
        @include m.mq(tab) {
            }
            @include m.mq(pc) {
                transform: translateX(0);
                position: static;
            }
    }
    &__right.open{
        width: 87%;
        height: 100%;
        z-index: 2000;
        transform: translateX(0);
        @include m.mq(tab) {
            width: 43%;
            }
    }

}
