@use "..//foundation/mixin" as m;
.l-sidebar{
        h2{
            display: block;
            color: #707070;
            font-family: 'Roboto', sans-serif;
            margin-left: calc(40/16)*1vw;
            display: none;
            @include m.mq(tab) {
                display: none;
                }
                @include m.mq(pc) {
                    display: block;
                    font-size: 2.125rem;
                    padding-top: calc(84/16)*1rem;
                    padding-bottom: calc(90/16)*1rem;
                }
        }
        a{
            text-decoration: none;
            color: #707070;
        }

}